{% extends 'core/base.html' %}
<title>{% block title %}Services{% endblock %}</title>
{% block content %}
<div class="container mt-5">
	<h1 class="text-warning  border-bottom">Services</h1>

<!-- first row start here -->
  <div class="row text-center text-white ">
  	<div class="col-sm-4">
  	<i class="fas fa-search-dollar fa-2x mt-2 i-color"></i>	
  	<a href="/" class="lc"><h4>SEO</h4></a>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>

  	<div class="col-sm-4">
  	<i class="fas fa-palette fa-2x mt-2 i-color"></i>	
  	<h4>WEB DESIGNING</h4>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>

  	<div class="col-sm-4">
  	<i class="fas fa-code fa-2x mt-2 i-color"></i>	
  	<h4>WEB DEVELOPMENT</h4>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>
  </div>

<!-- Secon row start here -->
    <div class="row text-center text-white ">
  	<div class="col-sm-4">
  	<i class="fab fa-android fa-2x mt-2 i-color"></i>	
  	<h4>Android</h4>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>

  	<div class="col-sm-4">
  	<i class="fab fa-apple fa-2x mt-2 i-color"></i>	
  	<h4>IOS</h4>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>

  	<div class="col-sm-4">
  	<i class="fas fa-ad fa-2x mt-2 i-color"></i>	
  	<h4>Advirtisement</h4>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>
  </div>

 <!-- third row start here -->
   <div class="row text-center text-white ">
  	<div class="col-sm-4 " >
  	<i class="fas fa-pencil-alt fa-2x mt-2 i-color"></i>	
  	<h4>LOGO DESIGN</h4>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>

  	<div class="col-sm-4">
  	<i class="fas fa-database fa-2x mt-2 i-color"></i>	
  	<h4>HOSTING</h4>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>

  	<div class="col-sm-4">
  	<i class="fas fa-headset fa-2x mt-2 i-color"></i>	
  	<h4>SUPPORT</h4>
  	<P class="ss-color">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the</P>
  	</div>
  </div>

</div>

{% endblock content %}